.ham-styles {
    display: none;
    cursor: pointer;
    position: relative;
    width: 25px;
    height: 15px;
    // display: flex;
    flex-direction: column;
    justify-content: space-between  ;

    @media all and (max-width: 768px) {
        display: flex;
    }
}

.line-styles {
    background-color: #000;
    height: 2px;
    width: 100%;
}