.button-styles {
    cursor: pointer;
    padding: .8rem 1.8rem;
    border: none;
    background-color: #b8d2c2ff;
    color: #000;
    font-family: inherit;
    font-size: 1.8rem;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: darken(#b8d2c2ff, 25);

    }
}