.hero-section-styles {
    min-height: calc(100vh - 6rem);
    position: relative;
    margin-top: 6rem;
}

.background-slider-styles {
        @media all and (max-width: 768px) {
            picture {
                img {
                    top: -5rem !important;
                    object-position: center right !important;
                }
            }
            
            @media all and (max-width: 480px) {
            picture {
                img {
                    width: 100rem !important;
                    top: -15rem !important;
                    left: -65rem !important ;
                    object-position: 50% left !important;
                    object-fit: contain !important;
                }
            }
        }
    }
}

.heading-container-styles {
    cursor: default;
    max-width: 52rem;
    position: absolute;
    top: 30%;
    // transform: translateY(-50%);
    left: 3rem;
    // background-color: rgba(#fff, .80);
    // padding: 3rem 4rem;
    border-radius: 1.5rem;
    
    @media all and (max-width: 768px) {
        max-width: 45rem;
        top: 50%;
        padding: 2rem;
        background-color: #fff;
        box-shadow: 15px 30px 60px 0px rgba(138,149,158,0.2);

        @media all and (max-width: 480px) {
            width: 100%;
            max-width: calc(100% - 2rem);
            left: 1rem;
        }
    }

    h1 {
        text-transform: uppercase;
        font-size: 4.3rem;
        margin-bottom: 1rem;
        line-height: 1;

        @media all and (max-width: 768px) {
            font-size: 3.8rem;
            @media all and (max-width: 480px) {
                font-size: 2.5rem;
            }
        }
    }

    h2 {
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: 2rem;

        @media all and (max-width: 768px) {
            font-size: 2rem;
            @media all and (max-width: 480px) {
                font-size: 1.8rem;
            }
        }
    }
}